body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.create-form, .existing-form {
  max-width: 400px;
  padding: 0 15px;
  margin: 0 auto 50px;
}

.create-form > input {
  margin: 20px 0 0;
}

.existing-form > input {
  margin: 20px 0;
}

.pw-notice {
  color: #777;
  margin: 10px 0;
}

.noteams {
  color: #95a5a6;
  font-size: 30px;
  margin: 50px 0 0;
}

@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
       local(EmojiSymbols),
       local(Symbola);

  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.team-name {
  color: #3498db;
  font-family: 'HelveticaNeue-Bold', emoji, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -.5px;
  margin: 20px 0 0;
}

.team-name > a {
  color: inherit;
}

.password-box {
  margin-top: 25px;
  text-align: center;
}

.password-box > button {
  margin-bottom: 10px;
}

.points {
  color: #999;
  font-size: 25px;
  margin: 0 0 30px;
}

.category-label {
  font-size: 18px;
}

.levels {
  line-height: 0;
}

.level {
  background-color: #dce0e1;
  cursor: default;
  display: inline-block;
  height: 11px;
  margin: 1px 2px 1px 0;
  width: 11px;
}

.level.completed {
  background-color: #2ecc71;
}

.flag-submission {
  margin: 30px auto 0;
  max-width: 426px;
}
