body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.create-form, .existing-form {
  max-width: 400px;
  padding: 0 15px;
  margin: 0 auto 50px;
}

.create-form > input, .existing-form > input {
  margin: 20px 0;
}

.team-name {
  color: #3498db;
  font-weight: bold;
  letter-spacing: -.5px;
  margin: 20px 0 0;
}

.team-name > a {
  color: inherit;
}

.password-box {
  margin-top: 25px;
  text-align: center;
}

.password-box > button {
  margin-bottom: 10px;
}

.points {
  color: #999;
  font-size: 25px;
  margin: 0 0 30px;
}

.category-label {
  font-size: 18px;
}

.levels {
  line-height: 0;
}

.level {
  background-color: #dce0e1;
  cursor: default;
  display: inline-block;
  height: 11px;
  margin: 1px 2px 1px 0;
  width: 11px;
}

.level.completed {
  background-color: #2ecc71;
}

.flag-submission {
  margin: 0 auto;
  max-width: 426px;
}
