body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.create-form, .existing-form {
  max-width: 400px;
  padding: 0 15px;
  margin: 0 auto 50px;
}

.create-form > input, .existing-form > input {
  margin: 20px 0;
}

.category-label {
  display: inline-block;
  width: 80px;
}

.levels {
  line-height: 0;
}

.level {
  background-color: #dce0e1;
  cursor: default;
  display: inline-block;
  height: 11px;
  margin: 1px 2px 1px 0;
  width: 11px;
}

.level.completed {
  background-color: #2ecc71;
}
